<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

In [2]:
# type your code here
import numpy as np
import pandas as pd
import scipy.stats as stats

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A research paper in the medical journal claims that the average height of females in Nebraska is less than 168 cm. A group of physicians conducted a survey and collected the heights of 95 females from Nebraska, and recorded the average height as 163 cm with a standard deviation of 7 cm. Assume that the sample is drawn from a normally distributed population. Test the claim in the research paper using the 95% confidence level for the population mean.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
# type your code here
#Step1:-Hypothesis Formation

#H0: mu=168
#Ha: mu!=168

#Step2:-
#1.Data is normal
#2.Sample standard Deviation=>t-Test  Statistics
#3.Given one sample-continuous data we can go with one sample t-Test

#Step3:Test Statistics
mu=168
print('Population_Mean:',mu)
n=95
print('Sample_Size:',n)
x_bar=163 #Sample_Mean
print('Sample_Mean:',x_bar)
s=7 #Sample_Standard Deviation
print('Sample_Standard Deviation:',s)
t=(x_bar-mu)/(s/n**0.5)
print('1_Sample t-Test Statistics:',t)

Population_Mean: 168
Sample_Size: 95
Sample_Mean: 163
Sample_Standard Deviation: 7
1_Sample t-Test Statistics: -6.961995960577831

In [9]:
#Step4:-PValue:-
pval=stats.t.sf(abs(t),df=n-1)*2
print('P_Value:',pval)

P_Value: 4.4881397133649704e-10

In [ ]:
#sig lvl=0.05
#pval=4.4881397133649704e-10
#pval<sig lvl=>H0 is Rejected,Ha is Selected which means mu is not 168 i.e mu!=168,average height of females in Nebraska is not168 cm
#t-Test Statistics is -ve=>average height of females in Nebraska is less than 168 cm

###### INFERENCE:-
    The average height of females in Nebraska is less than 168 cm as Claim by researchpaper in medical journal is Correct

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. A financial firm AlpaMoney has recently started their online payment gateway and claims that the level of customer satisfaction about the transactions is the same as that of their competitor firm PayEarly. Consider the equality of an average level of satisfaction as the null hypothesis and test the claim using with 90% confidence.Assume data is normal.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='2_z.png'>

In [ ]:
# type your code here
#Step1:-Hypothesis
#H0: mu=Avg customer satisfaction about the transactions in AlpaMoney and PayEarly are Same
#Ha: mu!=Avg customer satisfaction about the transactions in AlpaMoney and PayEarly are not Same

#H0: mu1-mu2=0
#Ha: mu1-mu2!=0

#Step2:-
#1.Data is Normal
#2.Sample standard Deviation is known #sample Standard Deviation=>t-test
#3.2 Samples are given=>which are unpaired we can use 2Sample t-Test unpaired

In [11]:
#Step3:-Test Statistics
x1_bar=4.23
print('Sample1_Mean:',x1_bar)
x2_bar=3.56
print('Sample2_Mean:',x2_bar)
s1=1.6
print('Sample1_Standard_Deviation:',s1)
s2=0.72
print('Sample2_Standard_Deviation:',s2)
n1=527
print('Sample1_Size:',n1)
n2=652
print('Sample2_Size:',n2)
df1=n1-1
df2=n2-1
df_total=df1+df2

Sample1_Mean: 4.23
Sample2_Mean: 3.56
Sample1_Standard_Deviation: 1.6
Sample2_Standard_Deviation: 0.72
Sample1_Size: 527
Sample2_Size: 652

In [13]:
sp_var=(df1*s1**2+df2*s2**2)/(df1+df2)
print('Pooled_Variance:',sp_var)

Pooled_Variance: 1.4307887850467291

In [15]:
num=(x1_bar-x2_bar)-0
denom=np.sqrt(sp_var*(1/n1+1/n2))
t=num/denom
print('2Sample_t_Test_Unpaired_Statistics:',t)

2Sample_t_Test_Unpaired_Statistics: 9.562231241580095

In [16]:
#Step4:P_Value:-
pval=stats.t.sf(abs(t),df=df_total)*2
print('P_Value:',pval)

P_Value: 6.4753500680692976e-21

In [ ]:
#pval=6.4753500680692976e-21
#sig lvl=0.1
#pval<sign lvl=>H0 is Rejected,Ha is Selected which means 
#mu!=Avg customer satisfaction about the transactions in AlpaMoney and PayEarly are not Same

In [17]:
#t-Test Statistics is +ve=>Avg customer satisfaction about the transactions in AlpaMoney are more than PayEarly

###### INFERENCE:-
    The Average customer satisfaction in AlpaMoney of their new online payment gateway about the transactions are more than PayEarly

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The economic journal claims that the students who graduated from tier 1 universities get more salary than the average salary of 35000$. A random sample of 20 graduated students is selected to test the claim. Test the claim with 0.1 as a level of significance.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:

        salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
                  15188, 91631, 96189, 77819, 79590]

In [19]:
salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
              15188, 91631, 96189, 77819, 79590]

In [20]:
salary_num=np.array(salary)

In [23]:
# type your code here
#Step1:-Hypothesis Formation

#H0: mu=35000 #average salary of 35000$
#Ha: mu!=35000 #average salary not 35000$

#Step2:-
#1.Data is normal
#2.Sample standard Deviation=>
#one sample t-Test

#Step3:Test Statistics
m=35000
print('Population_Mean:',mu)
n=len(salary_num)
print('Sample-Size:',n)
x_bar=np.mean(salary_num)
print('Sample_Mean:',x_bar)

s=np.std(salary_num)
print('Sample_Standard Deviation:',s)


t=(x_bar-mu)/(s/n**0.5)
print('one_sample t-Test Statistics:',t)

Population_Mean: 168
Sample-Size: 20
Sample_Mean: 62669.4
Sample_Standard Deviation: 25244.3685411222
one_sample t-Test Statistics: 11.072360860303988

In [22]:
#Step4:-P_Value:-
pval=stats.t.sf(abs(t),df=n-1)*2
print('P_Value:',pval)

P_Value: 9.95693169885393e-10

In [ ]:
#sig lvl=0.1
#pval=9.95693169885393e-10
#pval<sign lvl H0 is Rejected,Ha is Selected which means mu!=35000 i.e average salary is not 35000$
#one_sample t-Test Statistics is +ve which means average salary is morethan 35000$

###### INFERENCE:-
    The Economic journal claim of students who graduated from tier 1 universities get more salary than the average salary of $35000 is seems to be True.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Amy and Susan are national level swimmers. Their coach conducts five rounds each of 400 m and records the time taken by the individuals. Use 0.05 as a level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the timing (in minutes) given below:

        Amy_time = [4.2, 3, 3.8, 5, 4.6]
        Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

In [28]:
Amy_time = [4.2, 3, 3.8, 5, 4.6]
Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

In [29]:
Amy_time_num=np.array(Amy_time)
Susan_time_num=np.array(Susan_time)

In [31]:
# type your code here
#Step1:-Hypothesis Formation
#H0: mu1=Avg time taken by Amy and Susan are Same
#Ha: mu!=Avg time taken by Amy and Susan are not Same

#H0: mu1-mu2=0
#Ha: mu1-mu2!=0

#Step2:-
#1.Data is Normal
#2.Sample standard Deviation is known #sample Standard Deviation=>t-test
#3.Given:-2 Samples are given #2 Sample t-Test unpaired Statistics

x1_bar=np.mean(Amy_time_num)
x2_bar=np.mean(Susan_time_num)
s1=np.std(Amy_time_num)
s2=np.std(Susan_time_num)
n1=len(Amy_time_num)
n2=len(Susan_time_num)
df1=n1-1
df2=n2-1
df_total=df1+df2

sp_var=(df1*s1**2+df2*s2**2)/(df1+df2)
print('Pooled Variance:',sp_var)

num=(x1_bar-x2_bar)-0
denom=np.sqrt(sp_var*(1/n1+1/n2))
t=num/denom
print('2Sample t-testStatisics:',t)

#Step3:-PValue:-
pval=stats.t.sf(abs(t),df=df_total)*2
print('PValue:',pval)

Pooled Variance: 0.3416
2Sample t-testStatisics: -1.3526364229681407
PValue: 0.21315831653996267

In [ ]:
#pval=0.213
#sig lvl=0.05
#pval>sign lvl H0 is Selected,Ha is Rejected which means mu1=Avg time taken by Amy and Susan are Same

###### INFERENCE:-
    The Average time taken by Amy and Susan are Same

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. A multinational company had organized a presentation activity to test the soft skills of their 6 sales executives and then offered them a skill development course. After the completion of the course, the executives again appeared for the presentation and the scores before and after the course are recorded. Test the company's claim that the course was effective in developing soft skills with 90% confidence using the p-value technique.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the scores given in the file `paired_data.xlsx`

In [32]:
# type your code here
df=pd.read_excel('paired_data.xlsx')
df.head()

   before_score  after_score
0            23           32
1            38           36
2            35           48
3            45           47
4            32           40

In [33]:
#CHECKING THE NORMALITY USING SHAPIRO TEST
stats.shapiro(df['before_score'])

(0.9983048439025879, 0.999838650226593)

In [34]:
stats.shapiro(df['after_score'])

(0.903013288974762, 0.39204761385917664)

In [ ]:
#Both p1 and p2 are >sig lvl=0.1
#Data is normal
#Sample standard deivation is known and for two samples we need to find  the comparison which are paired so we go with Two sample t-Test paired statistics

In [ ]:
#Step1:-Hypothesis
#H0: mu1=(before_score)=(after_score) are Same
#Ha: mu1!=(before_score)=(after_score) are not Same

#H0: mu1-mu2(mu_d)=0
#Ha: mu1-mu2(mu_d)!=0

In [35]:
diff=df['before_score']-df['after_score']
stats.ttest_1samp(diff,popmean=0)

Ttest_1sampResult(statistic=-2.75783135866153, pvalue=0.03993727174744146)

In [36]:
stats.ttest_rel(df['before_score'],df['after_score'])

Ttest_relResult(statistic=-2.75783135866153, pvalue=0.03993727174744146)

In [ ]:
#p_value=0.039
#sign lvl=0.1
#pval<sign lvl H0 is Rejected,Ha is Selected which means mu1!=(before_score)=(after_score) are not Same

In [ ]:
#2Sample t-Test Paired Statistics is -ve=>score before the course is less than After the course Score
#which means skill development course is effective

###### INFERENCE:-
    The skill development course is effective

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. A survey conducted by the department of education states that the proportion of students who quit education due to financial crisis is more than 38%. To test this claim a group of 450 students is selected out of which 205 are found to be dropped out from school due to financial crisis. Test the claim with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
#Step1:-Hypothesis Formation:-
#H0:-p_pop(proportion of students quitting education due to financial crisis more than 205)=0.38
#Ha:-p_pop(proportion of students quitting education due to financial crisis more than 205)!=0.38

In [ ]:
#Step2:
#1.Data is normal
#2.Given one Sample Proportion=>z-Test one Sample Proportion

In [39]:
#Step3:-One Sample Z Proportion Test
p_pop=0.38
print('Population_Proportion:',p_pop)
n=450
print('Sample_Size:',n)
proportion_sample=205/450
print('Sample_Proportion:',p_pop)
num=proportion_sample-p_pop
denom=np.sqrt((p_pop*(1-p_pop))/n)
z=num/denom
print('One Sample Z Proportion Test:',z)

Population_Proportion: 0.38
Sample_Size: 450
Sample_Proportion: 0.38
One Sample Z Proportion Test: 3.3020604315723676

In [40]:
pval=stats.norm.sf(abs(z))*2
print('P_Value:',pval)

P_Value: 0.0009597738970631939

In [ ]:
#pval=0.00095
#sign lvl=0.05
#pval<sign lvl=>H0 is Rejected,Ha is Selected which means
#proportion of students quitting education due to financial crisis is not more than 205 for population for mean of 0.38

In [ ]:
#One Sample Z Proportion Test is +ve which means 
#proportion of students quitting education due to financial crisis is more than 205 for population is for mean greater than mean of 0.38

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Two leading medical institutes CureOn and MedFirst have produced new vaccines on ebola. The vaccine produced by CureOn is given to 252 people in the UK out of which 78 had severe side-effects also the vaccine produced by MedFirst is given to 425 people in the UK out of which 92 had severe side-effects. Can we conclude that the vaccine produced by MedFirst is more reliable? Test the claim  with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
#Step1:-Hypothesis Formation
#H0:P_Pop1(Proportion of severe side-effects in CureOn)=P_Pop2(Proportion of severe side-effects in MedFirst)
#Ha:P_Pop1!=P_Pop2

In [41]:
# type your code here
import statsmodels.api as sm
sm.stats.proportions_ztest(count=[78,92],nobs=[252,425])

(2.6989326141605403, 0.006956226005468977)

In [ ]:
#pval=0.0069
#sign lvl=0.01
#pval<sign lvl Ho is Rejected Ha is Selected 
#Which means Proportion of severe side-effects in CureOn and Proportion of severe side-effects in MedFirst are not Same

In [ ]:
#2sample_z-proportiontest is +ve 
#which means Proportion of severe side-effects in CureOn is more than Proportion of severe side-effects in MedFirst
#yes Can we conclude that the vaccine produced by MedFirst is more reliable

###### INFERENCE:-
    yes Can we conclude that the vaccine produced by MedFirst is more reliable Because Proportion of severe side-effects in CureOn is more than Proportion of severe side-effects in MedFirst