<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

In [2]:
# type your code here 
import numpy as np
import pandas as pd
import scipy.stats as stats

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. The company MangoFun that produces mango juice claims that the protein content in their juice is more than the juice produced by their competitor company FruitMix. Protein content in 50 boxes of MangoFun juice and 80 boxes of FruitMix juice is collected from a normal population which have an average protein content as 0.4 g and 0.35 g. The two population have a standard deviation of 0.08 g for MangoFun juice and 0.05 g for FruitMix juice. Test the claim using a at a 1% level of significance.Assume data is normal. (Inclass day2 )</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
#Step1:-Hypothesis
#H0: mu=Avg protein content in MangoFun and FruitMix are Same
#Ha: mu!=Avg protein content in MangoFun and FruitMix are not Same

#H0: mu1-mu2=0
#Ha: mu1-mu2!=0

In [3]:
# type your code here
n1=50
n2=80
x1_bar=0.4
x2_bar=0.35
s1=0.08
s2=0.05
df1=n1-1
df2=n2-1
df_total=df1+df2

In [4]:
sp_var=(df1*s1**2+df2*s2**2)/(df1+df2)
sp_var

0.00399296875

In [5]:
num=(x1_bar-x2_bar)-0
denom=np.sqrt(sp_var*(1/n1+1/n2))
t=num/denom
t

4.389149444162152

In [6]:
pval=stats.t.sf(abs(t),df=df_total)*2
pval

2.3570463736003807e-05

In [ ]:
#pval=2.3570463736003807e-05
#significance level=0.01
#pval<significance level=>H0 is rejected,Ha is Selected which means Avg protein content in MangoFun and FruitMix are not Same

In [ ]:
#test statics is +ve=>Avg protein content in MangoFun is greater than FruitMix.

###### INFERENCE:-
    The company MangoFun produces mangojuice in that protein content in their juice is more than the juice produced by their competitor company FruitMix,the company MangoFun Claim is Correct

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The sales manager at a car showroom claims that the cars in the showroom have average mileage per gallon (mpg) more than 18 mpg. Use the given dataset to test the manager's claim at 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the dataset given in the CSV file `cars.csv`

In [7]:
# type your code here
df=pd.read_csv('cars.csv')
df.head()

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,M,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,M,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,M,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,A,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,A,3,2

In [8]:
mpg=df['mpg']

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [9]:
#TEST OF NORMALITY
#BY SHAPIRO WILK TEST
#H0: SKEW=0
#Ha: SKEW!=0

stats.shapiro(df['mpg'])

(0.9475650191307068, 0.12288373708724976)

In [ ]:
#pval=0.1228
#significance lvl=0.1
#pval>sig lvl
#H0 is selected i.e Data is Normal

In [11]:
#Step1:-Hypothesis Formation

#H0: mu=18
#Ha: mu!=18

#Step2:-
#1.Data is normal
#2.Sample standard Deviation=>is Known
#so we go with one sample t-Test

#Step3:Test Statistics
x_bar=df['mpg'].mean()
print('Sample Mean:',x_bar)
mu=18
print('Population Mean',mu)
s=df['mpg'].std()
print('Sample_Standard Deviation:',s)
n=len(df['mpg'])
t=(x_bar-mu)/(s/n**0.5)
print('one-sample t-Test Statistics:',t)

Sample Mean: 20.090624999999996
Population Mean 18
Sample_Standard Deviation: 6.026948052089105
one-sample t-Test Statistics 1.9622470300280164

In [12]:
pval=stats.t.sf(abs(t),df=n-1)*2
print('PValue:',pval)

PValue: 0.0587642243155619

In [ ]:
#PValue: 0.0587642243155619
#Significance Level=0.1
#PVaLue<Significance Level=>H0 is Rejected,Ha is Selected which means mu!=18 Avg Mileage is not 18mpg.

In [ ]:
#t-Test Statistics is +ve =>Avg Mileage is more than 18mpg

###### INFERENCE:-
    The sales manager at a car showroom claims that the cars in the showroom have average mileage per gallon (mpg) more than 18 mpg is Correct

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence level.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [16]:
# type your code here
df=pd.read_csv('electronic.csv')
df.head()

   Screensize (inch)  Price ($)  Weight (g)     Type
0                6.5        245         252  Phablet
1                6.3        210         252  Phablet
2                6.1        224         234  Phablet
3                6.0        217         212  Phablet
4                6.4        252         252  Phablet

In [25]:
Phablet_Price=df[df['Type']=='Phablet']['Price ($)']
Tablet_Price=df[df['Type']=='Tablet']['Price ($)']

In [28]:
#TEST OF NORMALITY
#BY SHAPIRO WILK TEST
#H0: SKEW=0
#Ha: SKEW!=0
stats.shapiro(Phablet_Price)

(0.9686920642852783, 0.20465952157974243)

In [29]:
stats.shapiro(Tablet_Price)

(0.9741330742835999, 0.33798879384994507)

In [ ]:
#significance value=0.05
#both p1 value and p2value are >0.05
#Hence data is normal

In [ ]:
#Step1:-Hypothesis
#H0: mu1=Avg Price of phablet and Tablet are Same
#Ha: mu!=Avg Price of phablet and Tablet are not Same

#H0: mu1-mu2=0
#Ha: mu1-mu2!=0

In [ ]:
#Step2:-
#1.data is Normal
#2.Sample standard Deviation is known #sample Standard Deviation=>t-test
#3.2 Samples are given #2 Sample Standard Deviation

In [30]:
#Step3:- t-Test -Statistics:
x1_bar=Phablet_Price.mean()
x2_bar=Tablet_Price.mean()
s1=Phablet_Price.std()
s2=Tablet_Price.std()
n1=len(Phablet_Price)
n2=len(Tablet_Price)
df1=n1-1#degree of freedom
df2=n2-1
df_total=df1+df2

In [31]:
sp_var=(df1*s1**2+df2*s2**2)/(df1+df2)
sp_var#pooled variance

596.94

In [32]:
num=(x1_bar-x2_bar)-0
denom=np.sqrt(sp_var*(1/n1+1/n2))
t=num/denom
t

9.282772555558113

In [33]:
pval=stats.t.sf(abs(t),df=df_total)*2
pval

4.362239016010151e-15

In [34]:
#inbuild stats model
#stats.ttest_ind(sample1,sample2)#ind-independent
stats.ttest_ind(Phablet_Price,Tablet_Price)

Ttest_indResult(statistic=9.282772555558113, pvalue=4.362239016010151e-15)

In [ ]:
#pval=4.36
#sig lvl=0.05
#pval>sig lvl=>H0 is Selected,Ha is Rejected which means Avg Price of phablet and Tablet  are Same

###### INFERENCE:-
    The technician claims that the price of phablet is not the same as the price of tablet is Wrong.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The quality assurance department has collected 15 packets of potato chips. The department wants to test the average weight of the packets. Check whether they can use the one sample t-test for the population mean with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [1]:
# type your code here
pack_wt=[26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]
#We need population mean to use in t-test but population mean is not given we canot use  the one sample t-test

###### INFERENCE:-
    we canot use  the one sample t-test because population mean is not given

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Use the weight of the potato chips packets given in the previous question and test whether the average weight of packet is more than 30 g.  (Use 10% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [37]:
pack_wt=[26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]
pack_wt_num=np.array(pack_wt)
pack_wt_num

array([26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28. , 28.6, 29.4, 29.3, 31.5,
       32.4, 29.7, 28.1, 31.9])

In [39]:
# type your code here
#Step1:-Hypothesis Formation

#H0: mu=30
#Ha: mu!=30

#Step2:-
#1.Data is normal
#2.Sample standard Deviation=>t-test
#give one sample so we go with=>one sample t-Test

#Step3:Test Statistics
x_bar=np.mean(pack_wt)
print('Sample_Mean:',x_bar)
mu=30
s=np.std(pack_wt)
print('Sample_Standard Deviation:',s)
n=len(pack_wt)
t=(x_bar-mu)/(s/n**0.5)
print('t-testStatistics',t)

Sample_Mean: 29.486666666666665
Sample_Standard Deviation: 1.7142021143636725
t-testStatistics -1.159799905970342

In [40]:
#Step4:-PValue
pval=stats.t.sf(abs(t),df=n-1)*2
pval

0.2655283224120808

In [ ]:
#sig lvl=0.1
#pval=0.2655283224120808
#pval>sig lvl
#Ho is Selected,Ha is Rejected i.e mu=30 which means the average weight of the potato chipspackets is 30g.Hencethe average weight of packet is not more than 30 g

###### INFERENCE:-
     The Average weight of the potato chips packets is 30g

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [45]:
harry=[18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron=[19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

harry_num=np.array(harry)
ron_num=np.array(ron)

17.114285714285714

In [46]:
# type your code here
#Step1:-Hypothesis Formation
#H0: mu1=Avg time taken by Harry and Ron are Same
#Ha: mu!=Avg time taken by Harry and Ronare not Same

#H0: mu1-mu2=0
#Ha: mu1-mu2!=0

#Step2:-
#1.Data is Normal
#2.Sample standard Deviation is known #sample Standard Deviation=>t-test
#3.2 Samples are given #2 Sample Standard Deviation

x1_bar=np.mean(harry_num)
x2_bar=np.mean(ron_num)
s1=np.std(harry_num)
s2=np.std(ron_num)
n1=len(harry_num)
n2=len(ron_num)
df1=n1-1
df2=n2-1
df_total=df1+df2

sp_var=(df1*s1**2+df2*s2**2)/(df1+df2)
print('Pooled Variance:',sp_var)

num=(x1_bar-x2_bar)-0
denom=np.sqrt(sp_var*(1/n1+1/n2))
t=num/denom
print('2Sample t-testStatisics:',t)

Pooled Variance: 3.8402040816326526
2Sample t-testStatisics: -3.1095223072225457

In [47]:
#Step3:-PValue:-
pval=stats.t.sf(abs(t),df=df_total)*2
print('PValue:',pval)

PValue: 0.009028851636832052

In [49]:
#stats.ttest_ind(sample1,sample2)#ind-independent
stats.ttest_ind(harry_num,ron_num)

Ttest_indResult(statistic=-2.8788582527177526, pvalue=0.01385995160611642)

In [ ]:
#pval=0.009
#sig lvl=0.01
#pval~=sig lvl=>H0 is Selected,Ha is Rejected which means Avg time taken by Harry and Ronare are Same

#since t-Test is -ve=>Harry takes same time to deliver the newspapers as his colleague Ron

###### INFERENCE:-
    Harry takes same time to deliver the newspapers as his colleague Ron

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time  with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [1]:
# type your code here

#Step1:-Hypothesis Formation
#H0: mu1=Avg time taken by Harry and Ron are Same
#Ha: mu!=Avg time taken by Harry and Ronare not Same

#H0: mu1-mu2=0
#Ha: mu1-mu2!=0

#Step2:-
#1.Data is Normal
#2.Sample standard Deviation is known #sample Standard Deviation=>t-test
#3.2 Samples are given #2 Sample t_Test unpaired Statistics

x1_bar=np.mean(harry_num)
x2_bar=np.mean(ron_num)
s1=np.std(harry_num)
s2=np.std(ron_num)
n1=len(harry_num)
n2=len(ron_num)
df1=n1-1
df2=n2-1
df_total=df1+df2

sp_var=(df1*s1**2+df2*s2**2)/(df1+df2)
print('Pooled Variance:',sp_var)

num=(x1_bar-x2_bar)-0
denom=np.sqrt(sp_var*(1/n1+1/n2))
t=num/denom
print('2Sample t-testStatisics:',t)

#Step3:-PValue:-
pval=stats.t.sf(abs(t),df=df_total)*2
print('PValue:',pval)

#stats.ttest_ind(sample1,sample2)#ind-independent
stats.ttest_ind(harry_num,ron_num)

#pval=0.009
#sig lvl=0.1
#pval<sig lvl=>H0 is Rejected,Ha is Selected which means Avg time taken by Harry and Ronare not Same

#since t-Test is -ve=>Harry takes less time to deliver the newspapers than his colleague Ron

###### INFERENCE:-
    Harry takes less time to deliver the newspapers than his colleague Ron

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>7. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [53]:
# type your code here
df=pd.read_excel('sugar_level.xlsx')
df.head()

   sugar_before  sugar_after
0           135          132
1           132          136
2           142          139
3           154          151
4           198          192

In [54]:
#CHECKING THE NORMALITY USING SHAPIRO TEST
stats.shapiro(df['sugar_before'])

(0.9284526109695435, 0.08004998415708542)

In [55]:
stats.shapiro(df['sugar_after'])

(0.922091543674469, 0.057184845209121704)

In [ ]:
#both p1 and p2 are >sig lvl
#data is normal
#sample standard deivation is known and for two samples we need to find  the comparison which are paired so we go with Two sample t-Test

In [56]:
#Step1:-Hypothesis
#H0: mu1=(sugar level before taking new drug)=(sugar level after taking newdrug) are Same
#Ha: mu1!=(sugar level before taking new drug)=(sugar level after taking new drug) are not Same

#H0: mu1-mu2(mu_d)=0
#Ha: mu1-mu2(mu_d)!=0
diff=df['sugar_before']-df['sugar_after']
stats.ttest_1samp(diff,popmean=0)

Ttest_1sampResult(statistic=5.268469999584946, pvalue=2.108941394582287e-05)

In [57]:
stats.ttest_rel(df['sugar_before'],df['sugar_after'])

Ttest_relResult(statistic=5.268469999584946, pvalue=2.108941394582287e-05)

#pval=0
#sig lvl=0.05
#pval<sig lvl.H0 is Rejected Ha is Selected 
which means mu1!=(sugar level before taking new drug)=(sugar level after taking new drug) are not Same
#t-test statistics is +ve hence new drug have no effect on reducing the sugar leval in patients.

###### INFERENCE:-
    New drug have no effect on Lowering the sugar level in diabetic patients.

<a id= "prop"></a>
## 3. Z Proportion Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The physics department claims that it received 14% of fraud applications this year. The university head wants to test whether the percentage is different than what the department claims. The sample of 250 applications is selected out of which 38 applications are found to fraud. Test the claim with a 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [58]:
# type your code here
#Step1:-Hypothesis Formation:-
#H0:-p_pop(proportion of fraud applications more than 38)=0.14
#Ha:-p_pop(proportion of fraud applications more than 38)!=0.14

p_pop=0.14
n=250
p_sam=38/250
num=p_sam-p_pop
denom=np.sqrt((p_pop*(1-p_pop))/n)
z=num/denom
z

0.5468119624323661

In [59]:
pval=stats.norm.sf(abs(z))*2
pval

0.5845079238217354

In [ ]:
#pval=0.584
#sig lvl=0.05
#pval>sign level
#H0 is Selected,Ha is Rejected which means p_pop(proportion of fraud applications more than 38)=0.14.

###### INFERENCE:-
    The proportion of fraud applications in physics department is more than 14%

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The store manager claims that he received more 20% of defective plastic boxes in his previous order. Test the manager's claim. From a sample of 120 boxes, 42 were found to be defective. Test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [60]:
# type your code here
# type your code here
#Step1:-Hypothesis Formation:-
#H0:-p_pop(proportion of defective plastic boxes more than 42)=0.2
#Ha:-p_pop(proportion of defective plastic boxes more than 42)!=0.2

p_pop=0.2
n=120
p_sam=42/120
num=p_sam-p_pop
denom=np.sqrt((p_pop*(1-p_pop))/n)
z=num/denom
z

4.107919181288744

In [61]:
pval=stats.norm.sf(abs(z))*2
pval

3.992397476901362e-05

In [ ]:
#pval=3.992397476901362e-05
#sig lvl=0.1
#pval<sign level
#H0 is Rejected,Ha is Selected which means p_pop(proportion of defective plastic boxes more than 42)!=0.2.

#since z-statistics is +ve=>proportion of defective plastic boxes is less than 42 with mean of 20%,
#hence The store manager claim is not correct

###### INFERENCE:-
    The proportion of defective plastic boxes is less than 42 with mean of 20%

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>10. The HR head of a company claims that the company supports the woman empowerment and the proportion of female employees is same in the New York and Oneonta branches. The women empowerment cell wants to check whether the proportion is different for the two branches. The sample of 150 employees is selected from New York branch out of which 53 are females and a sample of 170 employees is selected from Oneonta branch out of which 76 are females. Use the p-value technique with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [62]:
# type your code here
#Step1:-Hypothesis Formation
#H0:P_Pop1(Proportion of female employees in New York branch)=P_Pop2(Proportion of female employees in Oneonta branch)are same
#Ha:P_Pop1(Proportion of female employees in New York branch)!=P_Pop2(Proportion of female employees in Oneonta branch)arenotsame

#H0:P_Pop1=P_Pop2
#Ha:P_Pop1!=P_Pop2

import statsmodels.api as sm 
sm.stats.proportions_ztest(count=(53,76),nobs=(150,170))

(-1.705655272664087, 0.08807228185564836)

In [ ]:
#pval=0.08
#sig lvl=0.05
#pval>significancee level=>Hence H0 is Selected,Ha is Rejected Which Means that
#Proportion of female employees in New York branch and Proportion of female employees in Oneonta branch)are same

###### INFERENCE:-
    HENCE THE COMPANY CLAIM OF SUPPORTING WOMEN EMPOWERMENT is Correct.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. The education department claims that the proportion of students failed in Mathematics is more than the proportion of students failed in English. To test the claim a sample of 200 students enrolled for Mathematics was considered out of which 73 students failed in the exam and a sample of 150 students enrolled for English was considered out of which 53 students failed in the exam. Test the department's claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [63]:
# type your code here
#Step1:-Hypothesis Formation
#H0:P_Pop1(Proportion of students failed in Mathematics)=P_Pop2(Proportion of  students failed in English)are same
#Ha:P_Pop1(Proportion of students failed in Mathematics)!=P_Pop2(Proportion of students failed in English)arenotsame

#H0:P_Pop1=P_Pop2
#Ha:P_Pop1!=P_Pop2

import statsmodels.api as sm 
sm.stats.proportions_ztest(count=(73,53),nobs=(200,150))

(0.22502571869471721, 0.8219592666785291)

In [ ]:
#pval=0.821
#sig lvl=0.1
#pval>significance level=>H0 is Selected,Ha is Rejected which means that 
#Proportion of students failed in Mathematics is Proportion of  students failed in English are same

###### INFERENCE:-
    The education department claim of proportion of students failed in Maths is more than the proportion of students failed in English is found to be invalid.